h1{
    margin: 0px auto;
    text-align: center;
    width: 100%;
    display: block;
    font-family: 'Alata', sans-serif;

    color: white;
}
p{
    text-align: center;
    font-family: 'Alata', sans-serif;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}
.round{
    width: 50%;
    display: flex;
    margin: 0px auto;
    text-align: center;
    border: black;
    border-style: none;
    border-radius: 30px;
    box-shadow: 8px 8px 8px 1px rgba(0,0,0, .2);
    font-family: 'Alata', sans-serif;
    color: white;
    height: 80%;

}
form{
    margin: 0px auto;
}
#sub{
    height: 90%;
    text-align: center;
}
span{
    text-align: center;
    margin: auto auto;
    font-size: 60px;
}
form div{
    padding-bottom: 20px;
    padding-top: 20px;
}
input{
    padding-top: 20px;
}
form div span {
    font-size: 24px;
    margin-bottom: 5px;
}
.no{
    padding: 0;
    font-size: 20px;
    margin-top: 8px;
}
#submitButton{
    margin-top: 12px;
    background-color: #222222;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 40px;
}
#submitButton:hover{
    background-color: #363636 ;
}