<html>
<head>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" >
</head>
<body>
<h1>Kind Feedback</h1>
<div>
    <p>
        To get started please fill out the questionaire below and submit it when you are finished.
    </p>
</div>
    <div class="round">
        <form>
            <h3>Test</h3>
            <div>What is your favorite primary color?<br>
                <input type="radio" name="fav_color" value="Red">Red<br>
                <input type="radio" name="fav_color" value="Blue" checked>Blue<br>
                <input type="radio" name="fav_color" value="Yellow">Yellow
            </div>
            <div>What is your favorite primary color?<br>
                <input type="radio" name="v" value="Red">Red<br>
                <input type="radio" name="v" value="Blue" checked>Blue<br>
                <input type="radio" name="v" value="Yellow">Yellow
            </div>
        </form>
    </div>
</body>
</html>
