<html>
<head>
    <link type="text/css" rel="stylesheet" href="../stylesheets/style.css" >
</head>
<body>
    <div class="round" id="sub">
        <span>
            Thanks for submitting the questionaire.
            You can now start working on your tasks.
        </span>
    </div>
</body>
</html>
